
body {
  background-color: tan;
  font-size: 20px;
}
 .center {
   text-align: center;
 }

.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}
#Java, #Ruby, #CSS {
  display: none;
}
